@using Newtonsoft.Json
@using SistemaContas.Presentations.Models

@{
    var user = User.Identity?.Name;

    var userModel = JsonConvert.DeserializeObject<UserModel>(user);
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sistema de Contas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Account/Login">Sistema de Contas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="Dashboard/Index">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="User/MyAccount">Minha Conta</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Gerenciar Finanças
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/Category/Register">Cadastrar Categorias</a>
                            <a class="dropdown-item" href="/Category/Query">Consultar Categorias</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/Bills/Register">Cadastrar Finanças</a>
                            <a class="dropdown-item" href="/Bills/Consult">Consultar Finanças</a>
                        </div>
                    </li>
                </ul>

                <div class="d-flex">
                    <div class="text-white">
                        <div>@userModel.Name</div>
                        <div style="margin-top: -10px !important;">
                            <small>
                                @userModel.Email
                            </small>
                        </div>
                    </div>
                    &nbsp;&nbsp;&nbsp;
                    <a href="/Account/Logout" class="btn btn-outline-light"
                       onclick="return confirm('Deseja realmente sair?');">
                        @* ao clicar abre um poup-up de confirmação*@
                        Sair
                    </a>
                </div>
            </div>
        </div>
    </nav>

    @if (TempData["MessageSuccess"] != null)
    {
        <div id="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Sucesso</strong> @TempData["MessageSuccess"]
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else if (TempData["MessageAlert"] != null)
    {
        <div id="alertMessage" class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Alerta</strong> @TempData["MessageAlert"]
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    else if (TempData["MessageError"] != null)
    {
        <div id="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Erro!</strong> @TempData["MessageError"]
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }

    <div class="container">
        <div class="card mt-3">
            <div class="card-body">
                @RenderBody()
            </div>
        </div>
    </div>


    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('.dropdown-toggle').dropdown();
        })

        //Inicializando o DataTable
        $(document).ready(function () {
            $('.grid_datatable').DataTable({
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/pt-BR.json'
                }
            });
        })

        document.addEventListener("DOMContentLoaded", function () {
            // Exibe a mensagem de sucesso por 3 segundos
            var successMessage = document.getElementById("successMessage");
            if (successMessage) {
                setTimeout(function () {
                    successMessage.style.display = "none";
                }, 3000);
            }

            // Exibe a mensagem de alerta por 3 segundos
            var alertMessage = document.getElementById("alertMessage");
            if (alertMessage) {
                setTimeout(function () {
                    alertMessage.style.display = "none";
                }, 3000);
            }

            // Exibe a mensagem de erro por 3 segundos
            var errorMessage = document.getElementById("errorMessage");
            if (errorMessage) {
                setTimeout(function () {
                    errorMessage.style.display = "none";
                }, 3000);
            }
        });

    </script>
</body>
</html>
