@model SistemaContas.Presentations.Models.BillQueryModel

@{
    ViewData["Title"] = "Consulta de Contas";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h4>Consulta de Contas</h4>

@using (Html.BeginForm())
{
    <div class="row mb-2">
        <div class="col-md-6 mb-2 d-flex align-items-center justify-content-center">
            <label><strong>Data Início:</strong></label>
            @Html.TextBoxFor(x => x.StartDate, new {@class="form-control", @type="date"})
            <span class="text-danger">
                @Html.ValidationMessageFor(x=> x.StartDate)
            </span>
        </div>

        <div class="col-md-6 d-flex align-items-center justify-content-center mb-2">
            <label><strong>Data Fim:</strong></label>

            @Html.TextBoxFor(x => x.EndDate, new {@class="form-control", @type="date"})
            <span class="text-danger">
                @Html.ValidationMessageFor(x=> x.EndDate)
            </span>
        </div>
    </div>
    <div class="mb-4 row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-lg-6 text-lg-start text-black">
                    <a href="/Dashboard/Index" type="button" class="btn btn-danger">
                        Cancelar
                    </a>
                </div>
                <div class="col-lg-6 text-lg-end text-black">
                    <input type="submit" class="btn btn-dark" value="Pesquisar Contas" />
                </div>
            </div>
        </div>
    </div>
}

@if (Model != null && Model.Bills != null)
{
    if (Model.Bills.Count > 0)
    {
        <div class="table-responsive mb-3" style="background-color:lightyellow">
            <table class="table table-hover grid_datatable">
                <thead class="table-dark">
                    <tr>
                        <th>Nome da Conta</th>
                        <th>Data da Conta</th>
                        <th>Valor da Conta</th>
                        <th>Tipo de Conta</th>
                        <th>Categoria da Conta</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Bills)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@(item.Date.HasValue ? item.Date.Value.ToString("dd/MM/yyyy") : "")</td>
                            <td>@(item.Value.HasValue ? item.Value.Value.ToString("c") : "")</td>
                            <td>@if (item.Type == 1)
                                {
                                    <span class="badge bg-info">RECEBER</span>
                                }
                                else
                                {
                                    <span class="badge bg-danger">PAGAR</span>
                                }
                            </td>
                            <td>@item.Category.Name</td>
                            <td>
                                <a href="/Bill/Edit" class="btn btn-outline-warning btn-sm">
                                    Editar
                                </a>
                                <a href="/Bill/Delete" class="btn btn-outline-danger btn-sm"
                                   onclick="return Confirm('Tem certeza que deseja excluir esta conta?')">
                                    Excluir
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
    }
    else
    {
        <div class="text-center">
            <p>Não há contas cadastradas.</p>
        </div>
    }
}

