@using Newtonsoft.Json
@model SistemaContas.Presentations.Models.BillQueryModel

@{
    ViewData["Title"] = "Dashboard";


    //define a página de layout que será herdada.
    Layout = "~/Views/Shared/MainLayout.cshtml";

    ////ler os dados contidos no cookie de autenticação
    //var data = User.Identity.Name;

    ////descerealizar os dados do usuário. De json para um objeto.
    //var userModel = JsonConvert.DeserializeObject<UserModel>(data);


}

<h2>Controle de contas</h2>
<h4>Resumo</h4>
<hr />

@*<form>
    <div class="row mb-2">
        <div class="col-md-3">
            <label><strong>Data Início:</strong></label>
            @Html.TextBoxFor(x => x.StartDate, "{0:yyyy-MM-dd}",new {@class="form-control", @type="date"})
            <span class="text-danger">
                @Html.ValidationMessageFor(x=> x.StartDate)
            </span>
        </div>
        <div class="col-md-3">
            <label>Data Fim</label>
            @Html.TextBoxFor(x => x.StartDate, )
        </div>




        <div class="col-md-3">
            <input type="submit" class="btn btn-warning" value="Pesquisar Contas" />
        </div>
    </div>
</form>*@


<div class="row mb-2">


    <div class="col-md-6">
        <h5>Contas a Receber</h5>
        <p><strong>Total: </strong><span class="badge badge-success">@(Model.TotalValueToReceive.HasValue ? Model.TotalValueToReceive.Value.ToString("c") : "R$ 0,00")</span></p>

        <div class="table-responsive mt-2">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Categoria</th>
                    </tr>
                </thead>

                @foreach (var item in Model.Bills)
                {
                    if(item.Type == 1)
                    {
                        <tbody>
                            <tr>
                                <td>@item.Date.Value.ToString("dd/MM/yyyy")</td>
                                <td>@item.Name</td>
                                <td>@item.Value.Value.ToString("c")</td>
                                <td>@item.Category.Name</td>
                            </tr>
                        </tbody>
                    }
                    
                }


            </table>
        </div>
    </div>



    <div class="col-md-6">
        <h5>Contas a Pagar</h5>
        <p><strong>Total: </strong><span class="badge badge-danger">@(Model.TotalValuePay.HasValue ? Model.TotalValuePay.Value.ToString("c") : "R$ 0,00")</span></p>

        <div class="table-responsive mt-2">
            <table class="table table-hover table-sm">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Categoria</th>
                    </tr>
                </thead>

                @foreach (var item in Model.Bills)
                {
                    if(item.Type == 2)
                    {
                        <tbody>
                            <tr>
                                <td>@item.Date.Value.ToString("dd/MM/yyyy")</td>
                                <td>@item.Name</td>
                                <td>@item.Value.Value.ToString("c")</td>
                                <td>@item.Category.Name</td>
                            </tr>
                        </tbody>
                    }
                    
                }

            </table>
        </div>
    </div>



</div>

