@model SistemaContas.Presentations.Models.AccountRegisterModel

@{
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    @*                    <h1>Sistema de Contas</h1>
                    *@
                    <h3>Cadastrar Usuário</h3>

                    <hr />


                    <div class="text-center mb-2">
                        <strong>@TempData["Message"]</strong>
                    </div>

                    @using (Html.BeginForm())
                    {
                        <div class="input-group mb-2">
                            <span class="input-group-text" id="basic-addon1">Nome:</span>
                            @Html.TextBoxFor(x => x.Name,new {@class="form-control", placeholder="Digite seu nome..."})
                            <span class="text-danger">
                                @Html.ValidationMessageFor(x => x.Name)
                            </span>

                        </div>

                        <div class="input-group mb-2">
                            <span class="input-group-text" id="basic-addon1">E-mail:</span>
                            @Html.TextBoxFor(x => x.Email, new {@class="form-control", placeholder="Digite seu e-mail..."})
                            <span class="text-danger">
                                @Html.ValidationMessageFor(x => x.Email)
                            </span>
                            <span class="text-danger">
                                <strong>@TempData["ErrorEmail"]</strong>
                            </span>
                        </div>

                        <div class="input-group mb-2">
                            <span class="input-group-text" id="basic-addon1">Senha:</span>
                            @Html.PasswordFor(x => x.Password, new {@class="form-control", placeholder="Digite sua senha..."})
                            <span class="text-danger">
                                @Html.ValidationMessageFor(x => x.Password)
                            </span>
                        </div>

                        <div class="input-group mb-2">
                            <span class="input-group-text" id="basic-addon1">Confirmar Senha:</span>
                            @Html.PasswordFor(x => x.PasswordConfirmed, new {@class="form-control", placeholder="Confirme sua senha..."})
                            <span class="text-danger">
                                @Html.ValidationMessageFor(x => x.PasswordConfirmed)
                            </span>
                        </div>

                        <div class="mb-2 d-grid">
                            <input type="submit" value="Cadastrar" class="btn btn-dark" />
                        </div>

                        <div class="mb-2 d-grid">
                            <a href="/Account/Login" class="text-decoration-none btn btn-warning">
                                Já possui conta? <strong>Acesse aqui!</strong>
                            </a>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>